@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@using mvc.Models

@inject SignInManager<Account> SignInManager
@inject UserManager<Account> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    var FirstName = user.Firstname;
    var LastName = user.Lastname;

    <div>
        <span>Bonjour @FirstName @LastName</span>
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
            <button type="submit" class="btn btn-danger">Log out</button>
        </form>
    </div>
}
else
{
    <a class="btn btn-success" asp-area="" asp-controller="Account" asp-action="RegisterTeacher">Register</a>
    <a class="btn btn-light" asp-area="" asp-controller="Account" asp-action="LoginTeacher">Log in Teacher</a>
    <a class="btn btn-light" asp-area="" asp-controller="Account" asp-action="LoginStudent">Log in Student</a>
}